div[data-wpview-type="gallery"][data-wpview-text*="slider%3D%22true"] {
  padding: calc(56.25% - 2px) 0 0;
  background-color: rgba(#000,0.1);
  overflow: hidden;

  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    margin-bottom: 0;
  }

  dl {
    width: auto;
    padding: 0;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    img {
      min-width: 100%;
      width: auto;
      max-width: none;
      min-height: 100%;
      height: auto;
      max-height: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  dd, br {
    display: none;
  }

  &:before {
    content: "\f161";
    font-family: dashicons;
    font-size: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .05;
    pointer-events: none;
  }

  &:after {
    content: "This is a slider preview placeholder in 16:9 ratio. Might differ on frontend.";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    letter-spacing: 0;
    padding: .15em .5em;
    background-color: rgba(#000, .35);
    color: #fff;
  }
}