.slider-attached {
  backface-visibility: hidden;
  transform: translateZ(0);
  position: relative;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;

  .slides,
  .slides > *,
  .slides > * > div {
    width: 100%;
    position: relative;
  }

  &:not([data-dimension="auto"]) {
    .slides,
    .slides > *,
    .slides > * > div:first-child:last-child {
      height: 100%;
    }
  }

  &,
  .slides > * {
    overflow: hidden;
  }

  .slides {
    margin: 0;
    padding: 0;
    list-style: none;

    > * {
      margin: 0;
    }
  }

  @for $i from 1 through 30 {
    &[data-slides="#{$i}"] {
      .slides {
        width: #{100% * $i};

        > * {
          width: #{100% / $i};
        }
      }

      @for $d from 2 through 9 {
        &[data-columns="#{$d}"] .slides {
          width: #{100% * $i/$d};

          > * {
            width: #{100% / $i};
          }
        }
      }
    }
  }

  &[data-dimension] .slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &:not([data-dimension]) {
    .slides > * {
      position: absolute;
      top: 0;
    }

    .cover-height img {
      width: auto;
      height: 100%;
    }

    .cover-width img {
      width: 100%;
      height: auto;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: none;
    }

    @for $i from 1 through 30 {
      &[data-slides="#{$i}"] {
        .slides > * {
          @for $j from 2 through $i {
            @if $j <= $i {
              &:nth-child(#{$j}) {
                left: #{100% / $i * ($j - 1)};
              }
            }
          }
        }

        @for $d from 2 through 9 {
          &[data-columns="#{$d}"] .slides {
            width: #{100% * $i/$d};
            padding-top: #{56.25% / $d};

            > * {
              width: #{100% / $i};

              @for $j from 1 through 30 {
                @if $j <= $i {
                  &:nth-child(#{$j}) {
                    left: #{100% / $i * ($j - 1)};
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slider__caption,
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(#000,.1);
    color: #fff;
    font-size: .8125em;
    padding: .5em 1em;
  }

  // hide captions
  &[data-captions="false"],
  &:not([data-captions]) {
    .slider__caption,
    figcaption {
      display: none;
    }
  }

  .slider__pager,
  .slider__navigation {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    pointer-events: none;

    li {
      color: transparent;
      cursor: pointer;
      pointer-events: all;
    }
  }

  .slider__pager {
    z-index: 1;
    line-height: 0;
    padding: 10px 0;

    li {
      display: inline-block;
      margin: 0 2px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(#000, .15);

      &:hover,
      &.active {
        background-color: rgba(#000, .65);
      }

      &.active {
        cursor: default;
      }
    }
  }

  .slider__navigation {
    top: 0;
    height: 100%;

    li {
      width: 10%;
      height: 100%;
      float: left;
      position: relative;
      top: 0;
      opacity: .8;
      transition: opacity .2s;

      &:before,
      &:after {
        content: "";
        width: 3px;
        height: 33px;
        position: absolute;
        top: calc(50% - 12px);
        left: 50%;
        background-color: #fff;
        box-shadow: 0 0 2px rgba(#000,.35);
      }

      &:after {
        top: calc(50% + 12px);
      }

      &:hover {
        opacity: 1;
      }

      // prev
      &[data-slide="prev"] {
        &:before {
          transform: translate(0,-50%) rotate(36deg);
        }

        &:after {
          transform: translate(0,-50%) rotate(-36deg);
        }
      }

      // next
      &[data-slide="next"] {
        float: right;

        &:before {
          transform: translate(0,-50%) rotate(-36deg);
        }

        &:after {
          transform: translate(0,-50%) rotate(36deg);
        }
      }

      &.disabled {
        display: none;
      }
    }
  }

  &:focus {
    outline: none;
  }

  // hide pager
  &[data-pager="none"],
  &:not([data-pager]) {
    .slider__pager {
      display: none;
    }
  }

  // hide navigation
  &[data-navigation="false"],
  &:not([data-navigation]) {
    .slider__navigation {
      display: none;
    }
  }

  // hide pager/navigation
  &[data-slides="1"] {
    .slider__pager,
    .slider__navigation {
      display: none;
    }
  }

  // pager on top
  &[data-pager="top"] {
    .slides {
      margin-top: 30px;
    }

    .slider__navigation {
      padding-top: 30px;
    }

    .slider__pager {
      top: 0;
    }
  }

  // pager bottom
  &[data-pager="bottom"] {
    .slider__navigation {
      padding-bottom: 30px;
    }

    .slider__pager {
      position: relative;
    }
  }

  // pager on the right/left
  &[data-pager="right"],
  &[data-pager="left"] {
    .slider__pager {
      padding: 0 10px;
      width: auto;
      top: 50%;
      transform: translate(0, -50%);

      li {
        display: block;
        margin: 4px 0;
      }
    }
  }

  // pager on the right
  &[data-pager="right"] .slider__pager {
    right: -30px;
  }

  // pager on the left
  &[data-pager="left"] .slider__pager {
    left: -30px;
  }
}
