.slider-attached {
    position: relative;
    display: block !important;
    max-width: 100%; 
    margin-right: auto;
    margin-left: auto;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.slider-attached .slides,
.slider-attached .slides > * {
    position: relative;
    width: 100%;
}

.slider-attached,
.slider-attached .slides > * {
    overflow: hidden;
}

.slider-attached .slides {
    margin: 0;
    padding: 0;
    list-style: none;
    transition-property: none;
}

.slider-attached .slides > * {
    margin: 0;
}

.slider-attached .slides .slider-icon {
    line-height: 0;
    height: 100%;
}

.slider-attached[data-effect="slide"] .slides {
    transition-property: transform;
}

.slider-attached:not(.gallery) .slides {
    display: -ms-flexbox;
    display: flex;
        flex-direction: row;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.slider-attached.gallery .slides,
.slider-attached.gallery .slides > *,
.slider-attached.gallery .slides > * > div:first-child:last-child {
    height: 100%;
}

.slider-attached.gallery .slides > * {
    position: absolute;
    top: 0;
}

.slider-attached.gallery .slides > * img,
.slider-attached.gallery .slides > * .slider-icon img {
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    max-width: 100%;
    height: auto; 
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.slider-attached.gallery[data-size="cover"] .cover-height img {
    width: auto;
    max-width: none;
    height: 100%;
}

.slider-attached.gallery[data-size="cover"] .cover-width img {
    width: 100%;
    height: auto; 
    max-height: none;
}

.slider-attached .slider__caption,
.slider-attached figcaption {
    font-size: .8125em;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .5em 1em;
    color: #fff;
    background-color: rgba(0, 0, 0, .1);
}

.slider-attached[data-captions="false"] .slider__caption,
.slider-attached[data-captions="false"] figcaption,
.slider-attached:not([data-captions]) .slider__caption,
.slider-attached:not([data-captions]) figcaption {
    display: none;
}

.slider-attached .slider__pager,
.slider-attached .slider__navigation {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    pointer-events: none;
}

.slider-attached .slider__pager li,
.slider-attached .slider__navigation li {
    cursor: pointer;
    pointer-events: all;
    color: transparent;
}

.slider-attached .slider__pager {
    line-height: 0;
    z-index: 1;
    padding: 10px 0;
}

.slider-attached .slider__pager li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .15);
}

.slider-attached .slider__pager li:hover,
.slider-attached .slider__pager li.active {
    background-color: rgba(0, 0, 0, .65);
}

.slider-attached .slider__pager li.active {
    cursor: default;
}

.slider-attached .slider__navigation {
    top: 0;
    left: 0;
    box-sizing: border-box;
    height: 100%;
}

.slider-attached .slider__navigation li {
    position: relative;
    top: 0;
    float: left;
    width: 10%;
    height: 100%;
    transition: opacity .2s;
    opacity: .8;
}

.slider-attached .slider__navigation li span {
    display: none;
}

.slider-attached .slider__navigation li svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 22px;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    pointer-events: none;
    fill: #fff;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .35));
}

.slider-attached .slider__navigation li[data-slide="next"] {
    float: right;
}

.slider-attached .slider__navigation li:hover {
    opacity: 1;
}

.slider-attached .slider__navigation li.disabled {
    display: none;
}

.slider-attached:focus {
    outline: none;
}

.slider-attached[data-pager="none"] .slider__pager,
.slider-attached:not([data-pager]) .slider__pager {
    display: none;
}

.slider-attached[data-navigation="false"] .slider__navigation,
.slider-attached:not([data-navigation]) .slider__navigation {
    display: none;
}

.slider-attached[data-slides="1"] .slider__pager,
.slider-attached[data-slides="1"] .slider__navigation {
    display: none;
}

.slider-attached[data-pager="top"] .slides {
    margin-top: 30px;
}

.slider-attached[data-pager="top"] .slider__navigation {
    padding-top: 30px;
}

.slider-attached[data-pager="top"] .slider__pager {
    top: 0;
}

.slider-attached[data-pager="bottom"] .slider__navigation {
    padding-bottom: 30px;
}

.slider-attached[data-pager="bottom"] .slider__pager {
    position: relative;
}

.slider-attached[data-pager="right"] .slider__pager,
.slider-attached[data-pager="left"] .slider__pager {
    top: 50%;
    width: auto;
    padding: 0 10px;
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
}

.slider-attached[data-pager="right"] .slider__pager li,
.slider-attached[data-pager="left"] .slider__pager li {
    display: block;
    margin: 4px 0;
}

.slider-attached[data-pager="right"] .slider__pager {
    right: -30px;
}

.slider-attached[data-pager="left"] .slider__pager {
    left: -30px;
}

/*# sourceMappingURL=slider.css.map */
